.App {
  text-align: center;
}

.appBody {
  background-color: lightsteelblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}

.h1 h1 {
  font-size: 1.75em;
  font-family: 'Kalam', cursive;
}

.formClass {
  width: 35%;
  padding-top: 1em;
  padding-bottom: 2em;
  margin: auto;
}

.mb-3 {
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
}

.cityTable {
  width: 60%;
  padding-bottom: 2em;
  margin: auto;
}

.cityMap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2em;

}

.figure img {
  border-style: inset;
  border-width: 2px;
  border-color: darkslategray;
}

.cityWeather {
  width: 60%;
  padding-bottom: 1em;
  margin: auto;
}

.cityMovies {
  width: 60%;
  padding-bottom: 2em;
  margin: auto;
}